# Build outputs
**/bin/
**/obj/
# Build
BE/bin/
BE/obj/



# Rider
.idea/

# NuGet
*.nupkg
# User/IDE files
.vs/
.vscode/
.agents/
*.user
*.suo
*.userprefs
*.csproj.user

# Logs
*.log

.md
!README.md


BE/Migrations/
