# Canva Connect API credentials
# Get these from https://www.canva.com/developers/ after creating an app

CANVA_CLIENT_ID=your_client_id_here
CANVA_CLIENT_SECRET=your_client_secret_here
CANVA_REDIRECT_URI=http://localhost:9876/callback
